*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #0e0a01;
    --color-primary: #ca8a1a;
    --color-secondary: #1e2004;
    --color-text: #ffffff;
}

[class*='_container'] {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper__container {
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.header {
    background-color: var(--color-secondary);
    border-radius: 8px;
    width: 120px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between  ;
}
.header__logo {}
.header__logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.header__nav {}
.header__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    list-style: none;
}
.header__item {}
.header__link.active {
    background-color: gray;
}

.main {
    background-color: var(--color-secondary);
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 100%;
}
.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.block.active {
    opacity: 1;
    pointer-events: all;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    overflow: hidden;
}
.home.active .home__content {
    transform: translateX(0);
}
.home.active .home__media {
    transform: translateX(0);
}
.home__content {
    width: 50%;
    transform: translateX(-100%);
    transition: transform .3s;
}
.home__media {
    transform: translateX(100%);
    transition: transform .3s;
    background-color: gray;
    width: 50%;
    height: 100%;
}
.home__media img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    overflow: hidden;
}
.about.active .about__content {
    transform: translateX(0);
}
.about.active .about__media {
    transform: translateX(0);
}
.about__content {
    width: 50%;
    transform: translate(100%);
    transition: transform .3s;
}
.about__media {
    transform: translateX(-100%);
    transition: transform .3s;
    width: 50%;
    height: 100%;
    background-color: gray;
}
.about__media img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact__content {
    transform: translateY(100%);
    transition: transform .3s;
}
.contact.active .contact__content {
    transform: translateY(0);
}