// %

@function prc($pxOne, $pxTwo) {
	$result: calc( $pxOne / $pxTwo * 100% );
	@return $result;
}

// REM

@function rem( $px ) {
	$result: calc( $px / 16 ) + rem;
	@return $result;
}

// EM 

@function em( $px ) {
	$result: calc( $px / 16 ) + em;
	@return $result;
}