.button {
    display: inline-block;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
    transition: transform .5s;
}
.button:hover {
    transform: scale(0.97);
}
.button:active {
    animation-name: button;
    animation: button 0.5s forwards;
}

@keyframes button {
    0% {
        background-color: var(--color-primary);
    }
    50% {
        background-color: var(--color-primary-light);
    }
    100% {
        background-color: var(--color-primary);
    }
}