$monitor: 1439.98px;
$notebook: 1199.98px;
$table: 991.98px;
$phone: 767.98px;
$minPhone: 479.98px;

$color-white: #fff;
$color-primary: #FF3F3A;
$color-yellow: #FFCF2D;
$color-green: #03CEA4;
$color-red: #FF4242;
$color-orange: #F89828;
$color-blue: #5A87FC;